<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cereal API - Swagger UI</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="/swagger-ui-assets/swagger-ui.css"
    />
    <style>
      body {
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="swagger-ui"></div>
    <script
      src="/swagger-ui-assets/swagger-ui-bundle.js"
      charset="UTF-8"
    ></script>
    <script
      src="/swagger-ui-assets/swagger-ui-standalone-preset.js"
      charset="UTF-8"
    ></script>
    <script src="/swagger-init.js" charset="UTF-8"></script>
  </body>
</html>
